nav.col-xs-12.menu#main-menu(ng-controller="leftNav")
    ul(nav-active-class='')(ng-class='{ dis: pdisplay === 1}')
        li.withripple
            a(href='/') Home
        li.withripple
            a(href="/map") Properties
        li.withripple
            a(href="/properties") Properties
        li.withripple
            a(href='#') Other