<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
  <!-- right -->
  <div class="row">
          <div class="col-xs-12 col-sm-4">
            <nav-exposeleft></nav-exposeleft>
            <a class="navbar-brand" href="/">{{vm.title}}</a>
          </div>

            <!-- right -->
           <div id="ar-usernav" class="hidden-xs col-sm-4" >
               <ul class="nav navbar-nav">
                    <li><a href="#"><i class="fa fa-tasks"></i> <span class="badge badge-grey">4 </span></a></li>
                    <li><a href="#"><i class="ace-icon fa fa-bell icon-animated-bell bell"></i> <span class="badge badge-important"> 8</span></a>
                    <!-- <a href=""><img class="bell" src="http://inspectelement.com/demos/css3/bell/bell.png" alt=""></a> -->
                    </li>
                    <li><a href="#"><i class="ace-icon fa fa-envelope icon-animated-vertical"></i> <span class="badge badge-success"> 5</span></a></li>
                    <li>
                      <span class="user-info-box">
                        <a href="#">
                            <span class="user-info">
                                <small>Welcome,</small>
                                CDW
                            </span>
                            <img class="nav-user-photo" src="http://0.gravatar.com/avatar/c0061829cdd89f49089d91bd8c0b25ef?s=50&d=blank&r=G" alt="Jason's Photo" />
                        </a>                        
                      </span>
                    </li>
                  </ul>
          </div>
  </div>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

</div><!-- /.navbar-collapse -->
