<!-- Header inject -->
<div ng-controller="Shell as vm">

  <map-st-header-main></map-st-header-main>

  <map-st-content-admin></map-st-content-admin>


  <!-- Loader inject ** NEED to put in spinner
     <div ngplus-overlay
          ngplus-overlay-delay-in="50"
          ngplus-overlay-delay-out="700"
          ngplus-overlay-animation="dissolve-animation">
         <img src="images/busy.gif"/>

         <div class="page-spinner-message overlay-message">{{vm.busyMessage}}</div>
     </div>-->


  <!-- Open source code -->
  <script>
    // window.page = window.location.hash || "#about";

    // $(document).ready(function() {
    //   if (window.page != "#about") {
    //     $(".menu").find("li[data-target=" + window.page + "]").trigger("click");
    //   }
    // });

    // $(window).on("resize", function() {
    //   $("html, body").height($(window).height());
    //   $(".main, .menu").height($(window).height() - $(".header-panel").outerHeight());
    //   $(".pages").height($(window).height());
    // }).trigger("resize");

    // $(".menu li").click(function() {
    //   // Menu
    //   if (!$(this).data("target")) return;
    //   if ($(this).is(".active")) return;
    //   $(".menu li").not($(this)).removeClass("active");
    //   $(".page").not(page).removeClass("active").hide();
    //   window.page = $(this).data("target");
    //   var page = $(window.page);
    //   window.location.hash = window.page;
    //   $(this).addClass("active");


    //   page.show();

    //   var totop = setInterval(function() {
    //     $(".pages").animate({scrollTop:0}, 0);
    //   }, 1);

    //   setTimeout(function() {
    //     page.addClass("active");
    //     setTimeout(function() {
    //       clearInterval(totop);
    //     }, 1000);
    //   }, 100);
    // });


    // $("#opensource").click(function() {
    //   $.get(window.location.href, function(data){
    //     var html = $(data).find(window.page).html();
    //     html = cleanSource(html);
    //     $("#source-modal pre").text(html);
    //     $("#source-modal").modal();
    //   });
    // });
  </script>


</div><!--/.  ng-controller="Shell as vm"-->