//.row
//    .col-md-12
//        h1.page-header
//            | Dashboard
//            small Summary of your App
//        ol.breadcrumb
//            li
//                a(href='#') Home
//            li
//                a(href='#') Library
//            li.active Data
// /. ROW
.row
    .col-md-3.col-sm-12.col-xs-12
        .panel.panel-primary.text-center.no-boder.bg-color-green.green
            .panel-left.pull-left.green
                i.fa.fa-bar-chart-o.fa-5x
            .panel-right.pull-right
                h3 8,457
                strong  Total Properties

        .panel.panel-default
            .panel-heading
                | Tasks Panel
            .panel-body
                .list-group
                    a.list-group-item(href='#')
                        span.badge 7 minutes ago
                        i.fa.fa-fw.fa-comment
                        |  Commented on a post
                    a.list-group-item(href='#')
                        span.badge 16 minutes ago
                        i.fa.fa-fw.fa-truck
                        |  Order 392 shipped
                    a.list-group-item(href='#')
                        span.badge 36 minutes ago
                        i.fa.fa-fw.fa-globe
                        |  Invoice 653 has paid
                    a.list-group-item(href='#')
                        span.badge 1 hour ago
                        i.fa.fa-fw.fa-user
                        |  A new user has been added
                    a.list-group-item(href='#')
                        span.badge 1.23 hour ago
                        i.fa.fa-fw.fa-user
                        |  A new user has added
                    a.list-group-item(href='#')
                        span.badge yesterday
                        i.fa.fa-fw.fa-globe
                        |  Saved the world
                .text-right
                    a(href='#')
                        | More Tasks
                        i.fa.fa-arrow-circle-right


    .col-md-3.col-sm-12.col-xs-12
        .panel.panel-primary.text-center.no-boder.bg-color-blue.blue
            h4 Maps
            //#easypiechart-blue.easypiechart(data-percent='82')
            // directive
            #container2(draw-pie-chart='')
                span.percent 82%
            //.panel-left.pull-left.blue
            //    i.fa.fa-shopping-cart.fa-5x
            //.panel-right.pull-right
            //    h3 52,160
            //    strong  Sales
    .col-md-3.col-sm-12.col-xs-12
        .panel.panel-primary.text-center.no-boder.bg-color-red.red
            h4 Property Type
            //#easypiechart-teal.easypiechart(data-percent='84')
            // directive
            #container4(draw-pie-chart='')
                span.percent 84%
            //.panel-left.pull-left.red
            //    i.fa.fa.fa-comments.fa-5x
            //.panel-right.pull-right
            //    h3 15,823
            //    strong  Comments
    .col-md-3.col-sm-12.col-xs-12
        .panel.panel-primary.text-center.no-boder.bg-color-brown.brown
            h4 Average Condition
            // #easypiechart-red.easypiechart(data-percent='46')
            // directive
            #container5(draw-pie-chart='')
                span.percent 46%
            //.panel-left.pull-left.brown
            //    i.fa.fa-users.fa-5x
            //.panel-right.pull-right
            //    h3 36,752
            //    strong No. of Visits



    .col-md-12
        .panel.panel-default
            .panel-heading
                | Line Chart
            .panel-body
                input(ng-model='highchartsNG.title.text')
                button(ng-click='addSeries()') Add Series
                button(ng-click='addPoints()') Add Points to Random Series
                button(ng-click='removeRandomSeries()') Remove Random Series
                button(ng-click='swapChartType()') Line/Bar
                highchart#chart1(config='highchartsNG')



    .col-md-12
        .panel.panel-default
            .panel-heading
                | Responsive Table Example
            .panel-body
                .table-responsive
                    table.table.table-striped.table-bordered.table-hover
                        thead
                            tr
                                th S No.
                                th First Name
                                th Last Name
                                th User Name
                                th Email ID.
                        tbody
                            tr
                                td 1
                                td John
                                td Doe
                                td John15482
                                td name@site.com
                            tr
                                td 2
                                td Kimsila
                                td Marriye
                                td Kim1425
                                td name@site.com
                            tr
                                td 3
                                td Rossye
                                td Nermal
                                td Rossy1245
                                td name@site.com
                            tr
                                td 4
                                td Richard
                                td Orieal
                                td Rich5685
                                td name@site.com
                            tr
                                td 5
                                td Jacob
                                td Hielsar
                                td Jac4587
                                td name@site.com
                            tr
                                td 6
                                td Wrapel
                                td Dere
                                td Wrap4585
                                td name@site.com


.col-xs-12
    .col-xs-6.col-md-3
        .panel.panel-default
            .panel-body.easypiechart-panel
                h4 Customers
                #easypiechart-blue.easypiechart(data-percent='82')
                    span.percent 82%
    .col-xs-6.col-md-3
        .panel.panel-default
            .panel-body.easypiechart-panel
                h4 Sales
                #easypiechart-orange.easypiechart(data-percent='55')
                    span.percent 55%
    .col-xs-6.col-md-3
        .panel.panel-default
            .panel-body.easypiechart-panel
                h4 Profits
                #easypiechart-teal.easypiechart(data-percent='84')
                    span.percent 84%
    .col-xs-6.col-md-3
        .panel.panel-default
            .panel-body.easypiechart-panel
                h4 No. of Visits
                #easypiechart-red.easypiechart(data-percent='46')
                    span.percent 46%

    .col-md-4.col-sm-12.col-xs-12
        .panel.panel-default
            .panel-heading
                | Tasks Panel
            .panel-body
                .list-group
                    a.list-group-item(href='#')
                        span.badge 7 minutes ago
                        i.fa.fa-fw.fa-comment
                        |  Commented on a post
                    a.list-group-item(href='#')
                        span.badge 16 minutes ago
                        i.fa.fa-fw.fa-truck
                        |  Order 392 shipped
                    a.list-group-item(href='#')
                        span.badge 36 minutes ago
                        i.fa.fa-fw.fa-globe
                        |  Invoice 653 has paid
                    a.list-group-item(href='#')
                        span.badge 1 hour ago
                        i.fa.fa-fw.fa-user
                        |  A new user has been added
                    a.list-group-item(href='#')
                        span.badge 1.23 hour ago
                        i.fa.fa-fw.fa-user
                        |  A new user has added
                    a.list-group-item(href='#')
                        span.badge yesterday
                        i.fa.fa-fw.fa-globe
                        |  Saved the world
                .text-right
                    a(href='#')
                        | More Tasks
                        i.fa.fa-arrow-circle-right
    .col-md-8.col-sm-12.col-xs-12
        .panel.panel-default
            .panel-heading
                | Responsive Table Example
            .panel-body
                .table-responsive
                    table.table.table-striped.table-bordered.table-hover
                        thead
                            tr
                                th S No.
                                th First Name
                                th Last Name
                                th User Name
                                th Email ID.
                        tbody
                            tr
                                td 1
                                td John
                                td Doe
                                td John15482
                                td name@site.com
                            tr
                                td 2
                                td Kimsila
                                td Marriye
                                td Kim1425
                                td name@site.com
                            tr
                                td 3
                                td Rossye
                                td Nermal
                                td Rossy1245
                                td name@site.com
                            tr
                                td 4
                                td Richard
                                td Orieal
                                td Rich5685
                                td name@site.com
                            tr
                                td 5
                                td Jacob
                                td Hielsar
                                td Jac4587
                                td name@site.com
                            tr
                                td 6
                                td Wrapel
                                td Dere
                                td Wrap4585
                                td name@site.com
