<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
             Inventory <small> Overview</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <!-- <i class="fa fa-map-marker"></i> Mapping -->
                <p></p>
                <button class="btn btn-lrg btn-primary pull-right" ng-click="vm.addlinemodal()"> Add New </button>
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        <div class="widget wblue">
            <div class="widget-content user">
                <table class="table table-condensed table-hover">
                    <thead>
                    <tr>
                        <th>Map</th>
                        <th>Property Type</th>
                        <th>Address</th>
                        <th>Value</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="c in vm.inventory | filter:vm.filter track by c.id"
                        ng-click="vm.gotocard(c)">
                        <td><i class="fa fa-map-marker"></i></td>
                        <td>{{c.propertyType}}</td>
                        <td>{{c.address}}</td>
                        <td>{{c.value | currency}}</td>
                        <td><button class="btn btn-info btn-sm" ng-click="vm.editlinemodal(c.id)"><i class="fa fa-edit"></i></button></td>
                        <td><button class="btn btn-danger btn-sm" ng-click="vm.deleteItem(c.id)"><i class="fa fa-remove"></i></button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="widget-foot">
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<!-- Pagination 
<div class="row" style="border:red solid;">
    <div class="col-xs-12 ar-pagination" ng-show="vm.totalQuotes>0">
        <div class="col-xs-12">
            <pagination boundary-links="true" max-size="vm.maxDisplayed" total-items="vm.totalQuotes" ng-model="vm.currentPage" items-per-page="vm.pageSize" ng-click="vm.pageChanged()"></pagination>        
        </div>
    </div>
</div>-->

<!-- Modal - Edit Line -->
<script type="text/ng-template" id="editModalContent.html">

    <div class="modal-header">
        <h3 class="modal-title"> Edit Card </h3>
    </div>
    <div class="modal-body">

      <form class="form-horizontal" novalidate name="editForm" role="form">
        <div class="form-group">

            <label for="propertyType" class="col-sm-12 control-label"> <p class="pull-left"> Property Type </p> </label>
            <div class="col-sm-12">
                <input class="form-control" type="text"  
                         ng-model="vm.inventory.propertyType"
                         placeholder=" Property Type "/>
            </div>

            <label for="address" class="col-sm-12 control-label"> <p class="pull-left">Address </p> </label>
            <div class="col-sm-12">
                <input class="form-control" type="number" 
                         ng-model="vm.inventory.address"
                         placeholder=" Address "/>
            </div>

            <label for="value" class="col-sm-12 control-label"> <p class="pull-left"> Property Value </p> </label>
            <div class="col-sm-12">
                <input class="form-control" type="text"  
                         ng-model="vm.inventory.value"
                         placeholder=" Address"/>
            </div>
        </div>        
      </form>


        </div> 
        <div class="modal-footer">

            <button class="btn btn-success"
                    ng-click="vm.saveline(vm.card)" >
                <i class="fa fa-save"></i> SaveMe 
            </button>
            <button class="btn btn-warning"
                    ng-click="vm.cancel()" 
                    ng-disabled="vm.isUnchanged()">
                <i class="fa fa-undo"></i> Cancel
            </button>            

        </div>
</script>


<!-- Modal - Add Line -->
<script type="text/ng-template" id="addModalContent.html">

    <div class="modal-header">
        <h3 class="modal-title"> Add Inventory Item </h3>
    </div>
    <div class="modal-body">

      <form class="form-horizontal" role="form">
        <div class="form-group">

            <label for="propertyType" class="col-sm-12 control-label"> <p class="pull-left"> Property Type </p> </label>
            <div class="col-sm-12">
                <input class="form-control" type="text"  
                         ng-model="vm.item.propertyType"
                         placeholder=" Property Type "/>
            </div>

            <label for="address" class="col-sm-12 control-label"> <p class="pull-left"> Address </p> </label>
            <div class="col-sm-12">
                <input class="form-control" type="text" 
                         ng-model="vm.item.address"
                         placeholder=" Address "/>
            </div>

            <label for="value" class="col-sm-12 control-label"> <p class="pull-left"> Property Value </p> </label>
            <div class="col-sm-12">
                <input class="form-control" type="number"  
                         ng-model="vm.item.value"
                         placeholder=" Property Value "/>
            </div>
        </div>        
      </form>



    </div> 
    <div class="modal-footer">

        <button class="btn btn-success"
                ng-click="vm.addInventoryitem()" >
            <i class="fa fa-save"></i> Add Item 
        </button>
        <button class="btn btn-warning"
                ng-click="vm.cancelMe()" 
                ng-disabled="vm.isUnchanged()">
            <i class="fa fa-undo"></i> Cancel
        </button>            

    </div>
</script>

