nav.col-xs-12.menu#main-menu(ng-show="location != '/'")
    ul(nav-active-class='')
        li.withripple
            a(href='/') Home
        li.withripple
            a(href="/map") Map
        li.withripple
            a(href="/properties") Properties
        li.withripple
            a(href='#') Other