extends ../includes/layout

mp-co-page-screensize

block main-content

    .navbar.navbar-inverse.shadow-z-2
        div.brand
            a(href='/')
                img.logo3(src="https://cdn3.iconfinder.com/data/icons/ballicons-free/128/map-.png")
            span  APPRAISE
                span
                    small io
            div.navbar-header.navbar-collapse.collapse.navbar-right
                ul.nav.navbar-nav
                    li
                div(ng-include="'/partials/account/navbar-login'")
    // Header
    //.header-panel
    //    .container-fluid
    //        .row
    //            .col-xs-3
    //                //img.logo2-home(src="https://cdn3.iconfinder.com/data/icons/ballicons-free/128/map-.png")
    //                h1.text-center  APPRAISE
    //                    span
    //                        small io


    // Content
    .container-fluid.main
        .row
            div.left-side.navbar.shadow-z-2
                mp-co-leftnav

            div.right-side
                    .pagesFull.wrap-full
                        div(ng-view).well.page.active
                        //div(ng-view).well.page.active(ng-class='{ fullscreen: psize === 1, lg: psize === 2}')
