extends ../includes/layout

block main-content
    .navbar.navbar-inverse
        .container
            .navbar-header
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                div(ng-include="'/partials/account/navbar-login'")

    // Header
    .header-panel.shadow-z-2
        .container-fluid
            .row
                .col-xs-3

                    //img.logo2-home(src="https://cdn3.iconfinder.com/data/icons/ballicons-free/128/map-.png")

                    h1.text-center  APPRAISE
                        span
                            small io


    // Content
    .container-fluid.main
        .row
            div
                // hide logo on homepage
                img(ng-show='ifFullpage(pageNumber)').logo2(src="https://cdn3.iconfinder.com/data/icons/ballicons-free/128/map-.png")

                div
                    div(ng-include="'/partials/navigation/left-nav'")

                    .pages.wrap-normal
                        .col-xs-11
                            #about
                                div(ng-view).well.page.active(ng-class='{ sm: psize === 1, lg: psize === 2}')(style='border:red solid 0px;')



