
/* 
*
*
*     This is the junk-drawer css file.  
*     Once decided upon they need to be worked into the SASS Framework
*
*
*/
html {
  min-height: 100%;
  background: #2d353c; }

body {
  background: none; }

/* OOCSS */
.z-400 {
  z-index: -400 !important; }

.display-none {
  display: none; }

@media (max-width: 768px) {
  .xs-z-300 {
    z-index: -300; } }
.navbar-default {
  background-color: none;
  background: none; }

.page-header {
  margin: 27px 10px 18px 6px; }

.navbar-brand {
  padding: 18px 15px 15px 20px; }

.navbar-header {
  float: none; }

.login-panel {
  margin-top: 80px; }

.content {
  box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
  height: 500px;
  position: relative;
  top: 0px;
  overflow: hidden; }

.modal-open .modal {
  background: rgba(0, 0, 0, 0.6); }

.tabsample2 ul {
  float: left;
  margin: 35px 10px 0px 0px; }

.tabsample2 li {
  text-align: right;
  padding-bottom: 45px; }

.tabsample2 #container {
  float: left;
  overflow-x: scroll;
  width: 80%;
  height: 302px; }

.tabsample2 #mobileusage {
  width: 800px;
  height: 300px;
  border: 1px dotted #40bf80; }

#main-content {
  padding-top: 0;
  background: #fff;
  margin-top: 20px;
  padding-bottom: 80px;
  margin: 0 0 0 0px; }

.navbar-default {
  background-color: none;
  border-color: #e7e7e7;
  border-radius: 0;
  height: 63px; }

.navbar {
  position: relative;
  height: 55px;
  margin-bottom: 0;
  border: 1px solid transparent; }

.navbar-fixed-top {
  position: fixed !important; }

ul.ar-sidenav {
  padding: 0;
  margin: 1px 0 0 0; }

ul.ar-sidenav li {
  list-style-type: none;
  color: #fff;
  border: rgba(200, 200, 200, 0.08) solid 1px;
  position: relative; }

ul.ar-sidenav a {
  color: #fff;
  font-size: 13px;
  color: #fff;
  padding: 0px;
  padding: 5px 0px;
  margin: 0;
  display: block;
  text-decoration: none; }

ul.ar-sidenav a i {
  padding: 7px 18px;
  font-size: 28px;
  width: 70px;
  transition: .4s ease-in-out;
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -ms-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out; }

ul.ar-sidenav .current i,
ul.ar-sidenav .current span {
  color: #009ddc; }

ul.ar-sidenav a:hover {
  background: rgba(100, 100, 100, 0.2);
  text-decoration: none; }

ul.ar-sidenav li.current span.triangle {
  display: block;
  height: 0px;
  width: 0px;
  background: none;
  border-top: 29px solid transparent;
  border-bottom: 29px solid transparent;
  border-right: 21px solid #fff;
  position: absolute;
  right: 0px;
  top: -3px;
  padding: 0;
  margin: 0;
  transition: .2s ease-in;
  -webkit-transition: .2s ease-in;
  -moz-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  -ms-transition: .2s ease-in; }

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
/* Toggle Styles */
.wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* margin-left: 240px; */ }

@media (min-width: 992px) {
  .wrapper {
    /* position stopgap for z-index issue of sidebar-wrapper */
    position: absolute;
    z-index: -2;
    width: 100%;
    padding-right: 1%; } }
.wrapper.toggled {
  padding-left: 250px; }

.wrapper.toggled {
  padding-left: 226px; }

@media (min-width: 768px) {
  .wrapper.toggled {
    padding-left: 226px !important; }

  .wrapper-full {
    padding-left: 0px !important; } }
#sidebar-wrapper {
  z-index: 1;
  position: absolute;
  left: 226px;
  width: 0;
  height: 100%;
  margin-left: -226px;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  top: 55px;
  width: 227px !important;
  overflow: hidden; }

.wrapper.toggled #sidebar-wrapper {
  width: 250px; }

#page-content-wrapper {
  width: 100%;
  /*position: absolute;*/
  padding: 15px;
  background: #fff;
  min-height: 700px; }

.wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
  background: #fff; }

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none; }

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px; }

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999; }

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2); }

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none; }

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px; }

.sidebar-nav > .sidebar-brand a {
  color: #999999; }

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none; }

#wrap {
  min-width: 768px; }

@media (min-width: 768px) {
  .wrapper {
    padding-left: 226px; }

  .wrapper.toggled {
    padding-left: 0; }

  #sidebar-wrapper {
    width: 226px; }

  .wrapper.toggled #sidebar-wrapper {
    width: 0; }

  #page-content-wrapper {
    position: relative; }

  .wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0; } }
#ar-logo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  border: red solid; }

#ar-header {
  overflow: hidden; }

#ar-content .col-xs-12 {
  /*padding: 0;*/ }

@media (max-width: 992px) {
  #ar-content {
    background: none !important; } }
/* Dashboard */
/* Custom Colored Panels */
.huge {
  font-size: 40px; }

.panel-green {
  border-color: #5cb85c; }

.panel-green .panel-heading {
  border-color: #5cb85c;
  color: #fff;
  background-color: #5cb85c; }

.panel-green a {
  color: #5cb85c; }

.panel-green a:hover {
  color: #3d8b3d; }

.panel-red {
  border-color: #d9534f; }

.panel-red .panel-heading {
  border-color: #d9534f;
  color: #fff;
  background-color: #d9534f; }

.panel-red a {
  color: #d9534f; }

.panel-red a:hover {
  color: #b52b27; }

.panel-yellow {
  border-color: #f0ad4e; }

.panel-yellow .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e; }

.panel-yellow a {
  color: #f0ad4e; }

.panel-yellow a:hover {
  color: #df8a13; }

/* User Nav */
/* User Nav */
#ar-usernav {
  min-width: 440px;
  float: right; }

#ar-usernav i {
  font-size: 20px;
  color: #fff;
  padding: 4px 10px 0 0px;
  float: left; }

#ar-usernav .badge {
  margin: 4px 0px 0 3px;
  float: left; }

#ar-usernav span.user-info {
  color: #fff; }

#ar-usernav .user-info-box {
  float: left;
  padding-top: 13px; }

#ar-usernav img {
  margin: -4px 0 0 14px;
  border-radius: 20px;
  max-height: 36px;
  max-width: 36px; }

/* Collapsed Nav */
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border: none !important; }

i.left-nav-expand {
  font-size: 27px;
  position: absolute;
  top: -5px;
  left: -16px;
  color: #ccc;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.flip {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.ar-pagination {
  text-align: center; }

/* Table edits */
table {
  border: solid 1px #ccc; }

thead {
  border: #ccc 1px solid;
  color: #777;
  background: #eee; }

thead a {
  color: #777; }

tr.ar-table-well {
  background: #dbdbdb; }

tr.ar-table-well tr,
tr.ar-table-well td,
tr.ar-table-well table {
  background: #E9E9e9;
  color: #555;
  border: #f3f3f3 1px solid;
  border-left: #fff 0px solid;
  border-right: #fff 0px solid;
  border-top: #fff 0px solid; }

tr.ar-table-well th {
  color: #333;
  /*background:#ccc;*/ }

tr.ar-table-well thead {
  border: none; }

/* ----- 
CSS3 Ringing Bell animation
Currently only works in WebKit browsers
------ */
.bell {
  opacity: 1;
  -webkit-animation: ring 8s 1s ease-in-out infinite;
  -webkit-transform-origin: 50% 4px;
  -moz-animation: ring 8s 1s ease-in-out infinite;
  -moz-transform-origin: 50% 4px;
  animation: ring 8s 1s ease-in-out infinite;
  transform-origin: 50% 4px; }

@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotateZ(0); }
  1% {
    -webkit-transform: rotateZ(30deg); }
  3% {
    -webkit-transform: rotateZ(-28deg); }
  5% {
    -webkit-transform: rotateZ(34deg); }
  7% {
    -webkit-transform: rotateZ(-32deg); }
  9% {
    -webkit-transform: rotateZ(30deg); }
  11% {
    -webkit-transform: rotateZ(-28deg); }
  13% {
    -webkit-transform: rotateZ(26deg); }
  15% {
    -webkit-transform: rotateZ(-24deg); }
  17% {
    -webkit-transform: rotateZ(22deg); }
  19% {
    -webkit-transform: rotateZ(-20deg); }
  21% {
    -webkit-transform: rotateZ(18deg); }
  23% {
    -webkit-transform: rotateZ(-16deg); }
  25% {
    -webkit-transform: rotateZ(14deg); }
  27% {
    -webkit-transform: rotateZ(-12deg); }
  29% {
    -webkit-transform: rotateZ(10deg); }
  31% {
    -webkit-transform: rotateZ(-8deg); }
  33% {
    -webkit-transform: rotateZ(6deg); }
  35% {
    -webkit-transform: rotateZ(-4deg); }
  37% {
    -webkit-transform: rotateZ(2deg); }
  39% {
    -webkit-transform: rotateZ(-1deg); }
  41% {
    -webkit-transform: rotateZ(1deg); }
  43% {
    -webkit-transform: rotateZ(0); }
  100% {
    -webkit-transform: rotateZ(0); } }
@-moz-keyframes ring {
  0% {
    -moz-transform: rotate(0); }
  1% {
    -moz-transform: rotate(30deg); }
  3% {
    -moz-transform: rotate(-28deg); }
  5% {
    -moz-transform: rotate(34deg); }
  7% {
    -moz-transform: rotate(-32deg); }
  9% {
    -moz-transform: rotate(30deg); }
  11% {
    -moz-transform: rotate(-28deg); }
  13% {
    -moz-transform: rotate(26deg); }
  15% {
    -moz-transform: rotate(-24deg); }
  17% {
    -moz-transform: rotate(22deg); }
  19% {
    -moz-transform: rotate(-20deg); }
  21% {
    -moz-transform: rotate(18deg); }
  23% {
    -moz-transform: rotate(-16deg); }
  25% {
    -moz-transform: rotate(14deg); }
  27% {
    -moz-transform: rotate(-12deg); }
  29% {
    -moz-transform: rotate(10deg); }
  31% {
    -moz-transform: rotate(-8deg); }
  33% {
    -moz-transform: rotate(6deg); }
  35% {
    -moz-transform: rotate(-4deg); }
  37% {
    -moz-transform: rotate(2deg); }
  39% {
    -moz-transform: rotate(-1deg); }
  41% {
    -moz-transform: rotate(1deg); }
  43% {
    -moz-transform: rotate(0); }
  100% {
    -moz-transform: rotate(0); } }
@keyframes ring {
  0% {
    transform: rotate(0); }
  1% {
    transform: rotate(30deg); }
  3% {
    transform: rotate(-28deg); }
  5% {
    transform: rotate(34deg); }
  7% {
    transform: rotate(-32deg); }
  9% {
    transform: rotate(30deg); }
  11% {
    transform: rotate(-28deg); }
  13% {
    transform: rotate(26deg); }
  15% {
    transform: rotate(-24deg); }
  17% {
    transform: rotate(22deg); }
  19% {
    transform: rotate(-20deg); }
  21% {
    transform: rotate(18deg); }
  23% {
    transform: rotate(-16deg); }
  25% {
    transform: rotate(14deg); }
  27% {
    transform: rotate(-12deg); }
  29% {
    transform: rotate(10deg); }
  31% {
    transform: rotate(-8deg); }
  33% {
    transform: rotate(6deg); }
  35% {
    transform: rotate(-4deg); }
  37% {
    transform: rotate(2deg); }
  39% {
    transform: rotate(-1deg); }
  41% {
    transform: rotate(1deg); }
  43% {
    transform: rotate(0); }
  100% {
    transform: rotate(0); } }
/* Project X - CSS */
i.ar-button-1 {
  display: block;
  width: 36px;
  height: 34px;
  padding-top: 7px;
  /* border:1px solid #ccc; */
  border-radius: 6px;
  margin-left: 6px; }

/* Toggling icons on click */
.ar-plus {
  display: block;
  width: 20px;
  height: 20px;
  line-height: 21px;
  text-align: center;
  font-size: 20px;
  color: #bfbfbf;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased; }

.ar-plus:before {
  content: "\f055";
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out; }

.ar-plus.collapsed:before {
  color: #337ab7;
  content: "\f056";
  -webkit-transform: rotate(180deg) scale(1);
  -moz-transform: rotate(180deg) scale(1);
  -o-transform: rotate(180deg) scale(1);
  -ms-transform: rotate(180deg) scale(1);
  transform: rotate(180deg) scale(1); }

/* Marketing Timeline CSS */
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative; }

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px; }

.timeline > li {
  margin-bottom: 20px;
  position: relative; }

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table; }

.timeline > li:after {
  clear: both; }

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table; }

.timeline > li:after {
  clear: both; }

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175); }

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " "; }

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " "; }

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%; }

.timeline > li.timeline-inverted > .timeline-panel {
  float: right; }

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto; }

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto; }

.timeline-badge.primary {
  background-color: #2e6da4 !important; }

.timeline-badge.success {
  background-color: #3f903f !important; }

.timeline-badge.warning {
  background-color: #f0ad4e !important; }

.timeline-badge.danger {
  background-color: #d9534f !important; }

.timeline-badge.info {
  background-color: #5bc0de !important; }

.timeline-title {
  margin-top: 0;
  color: inherit; }

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0; }

.timeline-body > p + p {
  margin-top: 5px; }

.nano {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;
}

.nano > .nano-content {
  /* position: absolute; */
  overflow: scroll;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.nano > .nano-content::-webkit-scrollbar {
  display: none; }

.nano > .nano-content:focus {
  outline: 0 !important; }

.nano > .nano-pane {
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 5px;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: all .7s;
  transition: all .7s; }

.nano > .nano-pane > .nano-slider {
  background-color: rgba(0, 116, 255, 0.5);
  position: relative;
  margin: 0;
  border-radius: 0; }

.has-scrollbar > .nano-content::-webkit-scrollbar {
  display: block; }

.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
  opacity: .99; }

.pace .pace-progress, .nano > .nano-pane > .nano-slider {
  background-color: #54abd9; }

.angular-google-map-container {
  height: 400px; }

.modal-content {
  border-radius: 0; }







#gmaps {
    width: 100%;
    height: 450px;
}