//button.grid-btn.btn.btn-fab.btn-raised.brown
button.grid-btn.btn.btn-fab.btn-raised.brown.launch-lightbox(mp-de-lightbox-open-close)#addProp
    i.fa.fa-plus

div.grid-wrap.grid-toggle
    ui-grid-properties(refresh-map="vm.paintMap", fill-form="vm.fillRow" )