div.left-side.navbar.shadow-z-2
    ul(nav-active-class='')
        li.withripple
            a(href='/')
                i.fa.fa-home
                span
                    | HOME
        li.withripple
            a(href='/dashboard')
                i.fa.fa-pie-chart
                span
                    | DASHBOARD
        li.withripple
            a(href="/map")
                i.fa.fa-map-marker
                span
                    | MAP
        li.withripple
            a(href='/properties')
                i.fa.fa-university
                span
                    | PROPERTIES
        li.withripple
            a(href='#')
                i.fa.fa-diamond
                span
                    | MARKETING
        li.withripple
            a(href='/profile')
                i.fa.fa-gear
                span
                    | PROFILE
        li.withripple
            a(href='#')
                i.fa.fa-chevron-right
