.row
    .col-md-3.col-sm-12.col-xs-12
        .panel.panel-primary.text-center.no-boder.bg-color-green.green
            .panel-left.pull-left.green
                i.fa.fa-map-marker.fa-5x
            .panel-right.pull-right.btn-home-02
                a(href="/map")
                    h4 Mapping
                    strong  My Maps