.row(ng-controller="mapController as vm")
    google-places
    mp-co-lb-addprop(method="vm.removeRes")
    .col-xs-3
        .panel.panel-primary.text-center.no-boder.bg-color-green.green.map-panel.-btn-raised
            .panel-left.pull-left.green
                 i.fa.fa-map-marker.fa-5x
             .panel-right.pull-right.btn-home-02
                 a(href="/map")
                     h4 Mapping
                     strong  My Maps

    .col-xs-12
        .col-xs-2
            .map-panel
        .col-xs-2
            .map-controls
                .togglebutton.target
                    label
                        span
                            input(type='checkbox')
                            span.toggle

    //ar-co-map(cities="vm.cities", ng-if="vm.cities")
    ar-co-map(markers="vm.markers")

    .col-xs-12
        mp-co-grid-hideshow
