html,
body,
.container-fluid,
.row,
.wrap-full,
.page,
.main-content {
  height:100%;
  width:100%;
  display: table;
}
.display-block {
  display:block !important;
}
/* Removing Responsiveness */
#stopper {
  width:100%;
  min-width:1100px !important
}

.ui-grid {
  border:none;
}
.ui-grid-top-panel {
  background:none;
}
.container-fluid .navbar {
  background:#303f3e;
  min-width: 88px;
}

.left-side {
  float: none;
  display: table-cell;
  width: 88px;
  background: #303f3e;
}
.left-side .expand {
  width: 240px !important;
}

#nav-wrap {
  position:absolute;
  top:0px;
  left:0;
  z-index:9999;
  height:100%;
  width:88px;
  background: #303f3e;
  overflow:hidden;
  -webkit-transition: .1s ease-in-out;
  -moz-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}


#nav-wrap ul {
  position: absolute;
  top: 0;
  left: -36px;
  margin-top: 7px;
}

#nav-wrap li {
  list-style-type: none;
  text-align: center; }

#nav-wrap i {
  color: #f1f1f1;
  padding: 6px 0 0 0;
  margin: 0 4px 0 0;
  font-size: 26px;
  text-shadow: 1px 1px #009587;
  height: 45px;
  width: 39px;
  text-align: center; }

#nav-wrap a {
  border: rgba(255, 255, 255, 0.2) solid 1px;
  border-left: none;
  border-right: none;
  width: 272px;
  float: left;
  text-align: left;
  padding:8px 0 8px 17px;
  margin: 0; }

#nav-wrap span {
  color: #fff;
  padding: 0 0 0 25px; }

#nav-wrap a:first-child {
  border-top: none; }

.right-side {
  float: none;
  display: table-cell;
  width:94%
}

.sidebar-inverse {
  display: table-cell;
  float: none;

}
.fullscreen {
  width:129%;
  position:absolute;
  margin-left:-24% !important;
  background-color: blue;
  transition:all 1s ease;
}
.lg { width:96%; background-color: green;transition:all 1s ease; }
.dis {
  display: none !important;
  border:blue solid 10px;
}

#wrap {
  width:80%;
}
.wrap-full {
  width:100% !important;
}
.wrap-normal {
  width:80% !important;
}
.hide {
  display:none !important;
}
.show {
  display:block !important;
}
.navbar-inverse {
  z-index: 1;
}
.well {
  padding:40px 20px 20px 20px !important;
}
.overflow-hidden {
  overflow: hidden !important;
}
img.logo {
  height:140px;
  position:absolute;
  z-index:9999;
  top:60px;
  left:20px;

}
img.logo2 {
  height: 100px;
  position: absolute;
  z-index: 9999;
  top: 90px;
  left: 78px; }

img.logo3 {
  height: 46px;
  float: left;
  margin: 10px 0 6px 14px; }

.brand {
  position: relative;
}

.brand span {
  position: absolute;
  top: 11px;
  left: 70px;
  color: #fff;
  font-size: 32px; }

.brand span small {
  position: absolute;
  top: -5px;
  left: 87px;
  color: rgba(255, 255, 255, 0.6); }


/* Home page butter */
.btn-home-01 a,
.btn-home-02 a,
.btn-home-03 a,
.btn-home-04 a
{
  position:absolute;
  top:0;
  right:10%;
  height:160px;
  width:272px;
  padding:54px 20px 0 0px;
  text-align:right;
  color:#fff;
  background:rgba(255,255,255,.0);
}
.btn-home-01 a:hover,
.btn-home-02 a:hover,
.btn-home-03 a:hover,
.btn-home-04 a:hover
{
  text-decoration: none;
}
.btn-home-01 h4,
.btn-home-02 h4,
.btn-home-03 h4,
.btn-home-04 h4
{

  font-size:30px
}

.grid-btn {
  position: fixed !important;
  bottom: 60px;
  right: 70px;
  padding: 4px 0 0 2px !important;
  color: #fff !important;
  height:70px !important;
  width:70px !important;
}
.grid-btn:hover {
  background:#f0ad4e !important;
  /*box-shadow:0px 1px 1px 1px rgba(10,10,10,.3) !important;*/
}

/* BASE STYLES
============================================================================= */
.page        {
  //bottom:0;
  //padding-top:200px;
  //position:absolute;
  //text-align:center;
  //top:0;
  //width:100%;
}

//.page h1    { font-size:60px; }
//.page a     { margin-top:50px; }
#about      { color:#333; position:absolute; text-align:center; top:50px; width:100%; }

/* PAGES
============================================================================= */
//.page-home      { background:#00D0BC; color:#00907c; }
//.page-about     { background:#E59400; color:#a55400; }
//.page-contact   { background:#ffa6bb; color:#9e0000; }

/* ANIMATIONS
============================================================================= */

.page.ng-leave  { z-index:9999; }
.page.ng-enter  { z-index:8888; }

/* page specific animations ------------------------ */

/* home -------------------------- */
.page-home.ng-leave         {
  -webkit-transform-origin: 0% 0%;
  -webkit-animation: rotateFall 1s both ease-in;
  -moz-transform-origin: 0% 0%;
  -moz-animation: rotateFall 1s both ease-in;
  transform-origin: 0% 0%;
  animation: rotateFall 1s both ease-in;
}
.page-home.ng-enter         {
  -webkit-animation:scaleUp 0.5s both ease-in;
  -moz-animation:scaleUp 0.5s both ease-in;
  animation:scaleUp 0.5s both ease-in;
}

/* about ------------------------ */
.page-about.ng-leave        {
  -webkit-animation:slideOutLeft 0.5s both ease-in;
  -moz-animation:slideOutLeft 0.5s both ease-in;
  animation:slideOutLeft 0.5s both ease-in;
}
.page-about.ng-enter        {
  -webkit-animation:slideInRight 0.5s both ease-in;
  -moz-animation:slideInRight 0.5s both ease-in;
  animation:slideInRight 0.5s both ease-in;
}

/* contact ---------------------- */
.page-contact.ng-leave      {
  -webkit-transform-origin: 50% 50%;
  -webkit-animation: rotateOutNewspaper .5s both ease-in;
  -moz-transform-origin: 50% 50%;
  -moz-animation: rotateOutNewspaper .5s both ease-in;
  transform-origin: 50% 50%;
  animation: rotateOutNewspaper .5s both ease-in;
}
.page-contact.ng-enter      {
  -webkit-animation:slideInUp 0.5s both ease-in;
  -moz-animation:slideInUp 0.5s both ease-in;
  animation:slideInUp 0.5s both ease-in;
}

/* rotate and fall */
@-webkit-keyframes rotateFall {
  0% { -webkit-transform: rotateZ(0deg); }
  20% { -webkit-transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; }
  40% { -webkit-transform: rotateZ(17deg); }
  60% { -webkit-transform: rotateZ(16deg); }
  100% { -webkit-transform: translateY(100%) rotateZ(17deg); }
}
@-moz-keyframes rotateFall {
  0% { -moz-transform: rotateZ(0deg); }
  20% { -moz-transform: rotateZ(10deg); -moz-animation-timing-function: ease-out; }
  40% { -moz-transform: rotateZ(17deg); }
  60% { -moz-transform: rotateZ(16deg); }
  100% { -moz-transform: translateY(100%) rotateZ(17deg); }
}
@keyframes rotateFall {
  0% { transform: rotateZ(0deg); }
  20% { transform: rotateZ(10deg); animation-timing-function: ease-out; }
  40% { transform: rotateZ(17deg); }
  60% { transform: rotateZ(16deg); }
  100% { transform: translateY(100%) rotateZ(17deg); }
}

/* scale up */
@keyframes scaleUp {
  from        { opacity: 0.3; transform: scale(0.8); }
}
@-moz-keyframes scaleUp {
  from        { opacity: 0.3; -moz-transform: scale(0.8); }
}
@-webkit-keyframes scaleUp {
  from        { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
  from    { transform:translateX(100%); }
  to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
  from    { -moz-transform:translateX(100%); }
  to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
  from    { -webkit-transform:translateX(100%); }
  to      { -webkit-transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
  from    { transform:translateY(100%); }
  to      { transform: translateY(0); }
}
@-moz-keyframes slideInUp {
  from    { -moz-transform:translateY(100%); }
  to      { -moz-transform: translateY(0); }
}
@-webkit-keyframes slideInUp {
  from    { -webkit-transform:translateY(100%); }
  to      { -webkit-transform: translateY(0); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
  to      { transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {
  to      { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
  to      { -webkit-transform: translateX(-100%); }
}

/* rotate out newspaper */
@-webkit-keyframes rotateOutNewspaper {
  to { -webkit-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@-moz-keyframes rotateOutNewspaper {
  to { -moz-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@keyframes rotateOutNewspaper {
  to { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}










/* 
*
*
*     This is the junk-drawer css file.  
*     Once decided upon they need to be worked into the SASS Framework
*
*
*/
body {
  padding-top:0 !important;
}
.container-fluid {
  margin:0 !important;
  padding:0 !important;
}
.padding-none {
  padding:0 !important;
}

.menu ul li i {
  font-size:20px;
  color:#ccc;
  padding-right:32px;
  width:50px;
  text-align:center;
}

#map {
  height: 100%;
  width: 101%;
  position: absolute !important;
  top:66px;
  left: -5px;
}
.map-panel {
  position:absolute;
  z-index:1;
  overflow:hidden;
}
.map-controls {
  position: absolute;
  padding: 10px;
  top: 122px;
  left: 23px;
  z-index: 9999;
  border-radius: 0 0 2px 2px;
  height: 35px;
  width: 132px; }

.map-controls label {
  color:#fff !important;
  margin:0 0 120px 0;
}
#map-holder {
  height:410px;
}

#gmaps {
  width: 100%;
  height: 450px;
}
.grid-wrap {
  height:auto;
  width:100%;
  background:#fff;
  position:fixed;
  bottom:0px;
  left:80px;
  z-index:1;
  border-top:20px solid #f5f5f5;
  border-bottom:30px solid #f5f5f5;
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}
.grid-toggle {
  /*display:none;*/
  bottom:-900px;

}
.navbar-inverse {
  background-color: #009587 !important;
  margin-bottom: 0;
  height:66px;
  width:100%;
  float:left;
}

/* Video Fullscreen */
video#bgvid {
  position: fixed;
  top: 60%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  /*z-index: -100;
   background: url(polina.jpg) no-repeat;
  */
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}


/*----------------------------------------------
   DASHBOARD STYLES
------------------------------------------------*/
.page-header {
  padding-bottom: 9px;
  margin: 10px 0 20px;
  border-bottom: 1px solid transparent;
}
.panel-left{
  width: 35%;
  height: 158px;
  background: #5CB85C;
}
.panel-left .fa-5x {
  font-size: 11em;
  color: rgba(255, 255, 255, 0.15);
  padding: 40px 0;
  margin-bottom:30px;
}
.panel-right{
  width: 65%;
  height: 158px;
  background: transparent;
  margin-bottom: 0;
  color: #fff;
}
.panel-right h3{
  font-size: 50px;
  padding: 31px 10px 13px;
  color: rgba(255, 255, 255, 0.96);
}
.panel-back {
  background-color:#fff;

}
.panel-default {
  border-color: #ECECEC;
}
.panel-default > .panel-heading {
  color: #000;
  border-color: #FFF;
  font-weight: bold;
  background: rgba(100,100,100,.2);
  font-size: 16px;
}
.panel-heading {
  padding: 15px 15px 0px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.jumbotron, .well{
  background:#fff;
}
.noti-box {
  min-height: 100px;
  padding: 20px;
}

.noti-box .icon-box {
  display: block;
  float: left;
  margin: 0 15px 10px 0;
  width: 70px;
  height: 70px;
  line-height: 75px;
  vertical-align: middle;
  text-align: center;
  font-size: 40px;
}
.text-box p{
  margin: 0 0 3px;
}
.main-text {
  font-size: 25px;
  font-weight:600;
}
.set-icon {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;

}
.panel-primary{
  display:inline-block;
  margin-bottom:30px;
  width:100%;
}
.green {
  background:#5cb85c;
  color: #fff;
}
.blue {
  background-color: #4CB1CF;
  color: #fff
}
.red {
  background-color: #FF5722;
  color:#fff;
}
.brown {
  background-color: #f0ad4e;
  color:#fff;
}
.back-footer-red {
  background-color: #F0433D;
  color:#fff;
  border-top: 0px solid #fff;
}

.icon-box-right {
  display: block;
  float: right;
  margin: 0 15px 10px 0;
  width: 70px;
  height: 70px;
  line-height: 75px;
  vertical-align: middle;
  text-align: center;
  font-size: 40px;
}


/*CHAT PANEL*/
/*Charts*/

.main-chart {
  background: #fff;
}

.easypiechart-panel {
  text-align: center;
  padding: 1px 0;
  margin-bottom: 20px;
}

.placeholder h2 {
  margin-bottom: 0px;
}

.donut {
  width: 100%;
}

.easypiechart {
  position: relative;
  text-align: center;
  width: 120px;
  height: 120px;
  margin: 20px auto 10px auto;
}

.easypiechart .percent {
  display: block;
  position: absolute;
  font-size: 26px;
  top: 38px;
  width: 120px;
}

#easypiechart-blue .percent { color: #30a5ff;}
#easypiechart-teal .percent { color: #1ebfae;}
#easypiechart-orange .percent { color: #ffb53e;}
#easypiechart-red .percent { color: #ef4040;}


.chat-panel .panel-body {
  height: 450px;
  overflow-y: scroll;
}
.chat-box {
  margin: 0;
  padding: 0;
  list-style: none;
}
.chat-box li {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #808080;
}
.chat-box li.left .chat-body {
  margin-left: 90px;
}
.chat-box li .chat-body p {
  margin: 0;
  color: #8d8888;
}
.chat-img>img {
  margin-left:20px;
}
footer p{
  font-size: 14px;
}
/*----------------------------------------------
   /END DASHBOARD STYLES
------------------------------------------------*/



//== Lightboxes
//

%lightbox {
  // @include border-radius();
  // @include box-shadow();
  /* padding: $spacing-2x; */
  background: #FFF;
  overflow: hidden;

  h2 {
    //margin-bottom: $spacing-2x;
    //font-family: $font-header-light;
    //font-size: $font-size-400;
    //color: $dk-blue-base;

    .icon {
      //@extend .fa-times;
      float: right;
      //color: $gray-tint-75;
      cursor: pointer;
    }
  }

  .lightbox-body {
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

//== Extends
//

//## Background Dim

%background-dim {
  -webkit-transition: .1s ease-in-out;
  -moz-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  width: 100%;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(40, 46, 48, 0.7);
  z-index: 900;
  opacity: 0;
}

//## Lightbox Container

.lightbox-container {
  @extend %background-dim;

  &.launch-lightbox {
    height: 100%;
    opacity: 1;
  }

  //& .first-lightbox {
  //  z-index: 9000 !important;
  //
  //  @include responsive(tablet-screens){
  //    position:absolute;
  //    top:0;
  //    left:0;
  //    z-index: 100 !important;
  //  }
  //
  //}

  //.second-lightbox {
  //  z-index: 8000 !important;
  //
  //  @include responsive(tablet-screens){
  //    z-index: 200 !important;
  //  }
  //
  //}

}


//## Top Lightbox

//.top-lightbox {
//  @extend %lightbox;
//  @include transition(margin-top);
//  width: $grid-column-10;
//  position: absolute;
//  left: 50%;
//  margin-top: -100em;
//  margin-left: floor((-$grid-column-10 / 2));
//
//  &.launch-lightbox { margin-top: 100px }
//}


//## Right Lightbox

.right-lightbox {
  @extend %lightbox;

  //@include transition(margin-right);
  -webkit-transition: .1s ease-in-out;
  -moz-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  height: 100%;
  float: right;
  margin-right: -1000em;

  &.launch-lightbox {
    margin-right: 0;

    & :first-child {
      /* border:green solid; */
    }
    & :nth-child(2) {
      /* border:blue solid; */
    }
  }

}



/*
*
* MATERIAL EXTRAS
*
*
*/

* {
  box-sizing: border-box;
}
.header-panel {
  background-color: #009587;
  height: 144px;
  position: relative;
  z-index: 3;
}
.header-panel div {
  position: relative;

}
.header-panel h1 {
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  bottom: 10px;
  padding-left: 35px;
}

.menu {
  overflow: auto;
  padding: 0;
}
.menu, .menu * {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.menu ul {
  padding: 0;
  margin: 7px 0;
}
.menu ul li {
  list-style: none;
  padding: 20px 0 20px 50px;
  font-size: 15px;
  font-weight: normal;
  cursor: pointer;
}
.menu ul li.active {
  background-color: #dedede;
  position: relative;
}
.menu ul li a {
  color: rgb(51, 51, 51);
  text-decoration: none;
}

.pages {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
  padding: 0;
  //overflow: auto;
}
.pages > div {
  padding: 0 5px;
  padding-top: 64px;
}

.pages .header {
  color: rgb(82, 101, 162);
  font-size: 24px;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 60px;
  letter-spacing: 1.20000004768372px;
}

.page {
  //transform: translateY(1080px);
  //transition: transform 0 linear;
  //display: none;
  //opacity: 0;
  //font-size: 16px;
}

.page.active {
  //transform: translateY(0px);
  //transition: all 0.3s ease-out;
  //display: block;
  //opacity: 1;
}

#opensource {
  color: rgba(0, 0, 0, 0.62);
  position: fixed;
  margin-top: 50px;
  margin-left: 50px;
  z-index: 100;
}

#source-modal h4 {
  color: black;
}


body{padding-top:50px}#banner{border-bottom:none}.page-header h1{font-size:4em}.bs-docs-section{margin-top:8em}.bs-component{position:relative}.bs-component .modal{position:relative;top:auto;right:auto;left:auto;bottom:auto;z-index:1;display:block}.bs-component .modal-dialog{width:90%}.bs-component .popover{position:relative;display:inline-block;width:220px;margin:20px}#source-button{position:absolute;top:0;right:0;z-index:100;font-weight:bold;padding: 5px 10px;}.progress{margin-bottom:10px}footer{margin:5em 0}footer li{float:left;margin-right:1.5em;margin-bottom:1.5em}footer p{clear:left;margin-bottom:0}.splash{padding:4em 0 0;background-color:#141d27;color:#fff;text-align:center}.splash h1{font-size:4em}.splash #social{margin:2em 0}.splash .alert{margin:2em 0}.section-tout{padding:4em 0 3em;border-bottom:1px solid rgba(0,0,0,0.05);background-color:#eaf1f1}.section-tout .fa{margin-right:.5em}.section-tout p{margin-bottom:3em}.section-preview{padding:4em 0 4em}.section-preview .preview{margin-bottom:4em;background-color:#eaf1f1}.section-preview .preview .image{position:relative}.section-preview .preview .image:before{box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);position:absolute;top:0;left:0;width:100%;height:100%;content:"";pointer-events:none}.section-preview .preview .options{padding:1em 2em 2em;border:1px solid rgba(0,0,0,0.05);border-top:none;text-align:center}.section-preview .preview .options p{margin-bottom:2em}.section-preview .dropdown-menu{text-align:left}.section-preview .lead{margin-bottom:2em}@media (max-width:767px){.section-preview .image img{width:100%}}.sponsor{text-align:center}.sponsor a:hover{text-decoration:none}@media (max-width:767px){#banner{margin-bottom:2em;text-align:center}}
.infobox .btn-sup { color: rgba(0,0,0,0.5); font-weight: bold; font-size: 15px; line-height: 30px; }
.infobox .btn-sup img { opacity: 0.5; height: 30px;}
.infobox .btn-sup span { padding-left: 10px; position: relative; top: 2px; }
.icons-material .row { margin-bottom: 20px; }
.icons-material .col-xs-2 { text-align: center; }
.icons-material i { font-size: 34pt; }

.icon-preview {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  background: #D5D5D5;
  border-radius: 3px;
  cursor: pointer;
}
.icon-preview span {
  display: none;
  position: absolute;
  background: black;
  color: #EEE;
  padding: 5px 8px;
  font-size: 15px;
  border-radius: 2px;
  z-index: 10;
}
.icon-preview:hover i { color: #4285f4; }
.icon-preview:hover span { display: block; cursor: text; }



/* Toggle Button */
.togglebutton {
  vertical-align: middle;
}
.togglebutton,
.togglebutton label,
.togglebutton input,
.togglebutton .toggle {
  user-select: none;
}
.togglebutton label {
  font-weight: 400;
  cursor: pointer;
}
.togglebutton label input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
}
.togglebutton label .toggle,
.togglebutton label input[type=checkbox][disabled] + .toggle {
  content: "";
  display: inline-block;
  width: 30px;
  height: 15px;
  background-color: rgba(80, 80, 80, 0.7);
  border-radius: 15px;
  margin-right: 10px;
  transition: background 0.3s ease;
  vertical-align: middle;
}
.togglebutton label .toggle:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #F1F1F1;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
  left: -5px;
  top: -2px;
  transition: left 0.3s ease, background 0.3s ease, box-shadow 0.1s ease;
}
.togglebutton label input[type=checkbox][disabled] + .toggle:after,
.togglebutton label input[type=checkbox][disabled]:checked + .toggle:after {
  background-color: #BDBDBD;
}
.togglebutton label input[type=checkbox] + .toggle:active:after,
.togglebutton label input[type=checkbox][disabled] + .toggle:active:after {
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(0, 0, 0, 0.1);
}
.togglebutton label input[type=checkbox]:checked + .toggle:after {
  left: 15px;
}
/* Change color on select */

.togglebutton label input[type=checkbox]:checked+.toggle:after, .togglebutton-default label input[type=checkbox]:checked+.toggle:after {
  background-color: darkgrey;
}
