.row
   .div
      button.btn.btn-large.btn-primary(ng-click="property.go('/property/add')") Add Property
       //.row(ng-repeat="property in property.properties")
       //  .col-md-12
       //     a(href="/properties/{{property._id}}") {{property.title}} - {{property.longCoord}}

      div
         ui-grid-properties