.row#stopper
  .col-xs-3
    .panel.panel-primary.text-center.no-boder.bg-color-blue.brown
      .panel-left.pull-left.brown
        i.fa.fa-user.fa-5x
      .panel-right.pull-right.btn-home-02
        a(href='/map')
          h4 Profile
          strong  My Maps
  .col-xs-9
    .panel.panel-default
      //.panel-heading
      //    | Properties
      .panel-body
        p
          | Proin eget sem a turpis luctus gravida id efficitur tellus. Donec feugiat nibh dui, sit amet lacinia ipsum ullamcorper finibus. Nullam magna tortor, facilisis vitae leo in, placerat ullamcorper arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu justo ligula. Praesent cursus lectus a auctor feugiat. Vivamus in magna ligula. Sed feugiat urna id mollis rhoncus. Proin dolor mi, vestibulum et quam eget, rutrum posuere erat. Suspendisse blandit dignissim elit tempor porta. Fusce vitae nibh eget lectus suscipit volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
          | Sed risus ante, pretium eget lacus vel, feugiat consequat diam. Ut maximus quam ut libero scelerisque, eu malesuada erat finibus. Vestibulum at imperdiet lorem. Sed consequat justo a purus iaculis molestie. Etiam accumsan quis metus vel pulvinar. Pellentesque non consectetur odio, quis ultrices velit. Quisque tempus enim sed commodo faucibus. Curabitur accumsan magna ante.

  .col-xs-12
      form.form-horizontal(name="profileForm")
        fieldset
          legend
          .form-group
            label.col-md-2.control-label(for="email") Email
            .col-md-10
              input.form-control(name="email", type="email", placeholder="john@example.com", ng-model="profile.email", required)
          .form-group
            label.col-md-2.control-label(for="fname") First Name
            .col-md-10
              input.form-control(name="fname", type="text", placeholder="John", ng-model="profile.fname", required)
          .form-group
            label.col-md-2.control-label(for="lname") Last Name
            .col-md-10
              input.form-control(name="lname", type="text", placeholder="Rogers", ng-model="profile.lname", required)
          .form-group
            label.col-md-2.control-label(for="password") Password
            .col-md-10
              input.form-control(name="password", type="password", placeholder="Password", ng-model="profile.password")
          .form-group
            label.col-md-2.control-label(for="company") Company
            .col-md-10
              input.form-control(name="company", type="company", placeholder="ACME Limited", ng-model="profile.company")

          .form-group
            label.col-md-2.control-label() Address
            .col-md-10
              input.form-control(name="addressStreet", type="text", placeholder="123 Elm Street", ng-model="profile.addressStreet")
          .form-group
            label.col-md-2.control-label() City
            .col-md-10
              input.form-control(name="addressCity", type="text", placeholder="Somewhere", ng-model="profile.addressCity")
          //- .form-group
          //-   label.col-md-2.control-label() State
          //-   .col-md-10
          //-     input.form-control(name="addressState", type="text", placeholder="NE", ng-model="profile.addressState")
          //- State
          .form-group
            label.col-lg-2.control-label(for='') State
            .col-lg-8
              select(ng-model="profile.addressState")
                option(ng-repeat='state in property.ddlStates') {{state}}
          .form-group
            label.col-md-2.control-label() Zip Code
            .col-md-10
              input.form-control(name="addressZipCode", type="text", placeholder="Zip Code", ng-model="profile.addressZipCode")
          .form-group
            label.col-md-2.control-label() Account Information
            .form-group
            label.col-md-2.control-label() Acount Type
            .col-md-10
              input.form-control(name="accountType", type="text", placeholder="Account Type", ng-model="profile.accountType")
            .form-group
            label.col-md-2.control-label() Account Contract
            .col-md-10
              input.form-control(name="accountContactName", type="text", placeholder="Account Contact", ng-model="profile.accountContactName")
            .form-group
            label.col-md-2.control-label() Email
            .col-md-10
              input.form-control(name="accountContactEmail", type="email", placeholder="Email", ng-model="profile.accountContactEmail")
          .form-group
            .col-md-10.col-md-offset-2
              .pull-right
                button.btn.btn-primary(ng-click="profile.update()", ng-disabled="signupForm.$invalid") Submit
                | &nbsp;
                a.btn.btn-default(href="/") Cancel
