div.lightbox-main-content
  .well.bs-component.box-shadow-none
    form.form-horizontal(role='form')
      fieldset
        legend Legend
        .form-group
        // EMail
        .form-group
          label.col-lg-2.control-label(for='email') Email
          .col-lg-10
            //input.form-control(type='text', ng-model='property.improvementSize')
            input.form-control(name="email", type="email", placeholder="Email", ng-model="signup.email", required)
        // Password
        .form-group
          label.col-lg-2.control-label(for='password') Password
          .col-lg-10
            //input.form-control(type='text', ng-model='property.improvementSize')
            label.col-md-2.control-label(for="password") Password
        // First Name
        .form-group
          label.col-lg-2.control-label(for='fname') First Name
          .col-lg-10
            // input.form-control(type='text', ng-model='property.type', placeholder=' Acres ')
            input.form-control(name="fname", type="text", placeholder="First Name", ng-model="signup.fname", required)
        // Last Name
        .form-group
          label.col-lg-2.control-label(for='lname') Last name
          .col-lg-10
            // input.form-control(type='text', ng-model='property.type', placeholder=' Acres ')
            input.form-control(name="lname", type="text", placeholder="Last Name", ng-model="signup.lname", required)
 