div.lightbox-main-content
  .well.bs-component.box-shadow-none
    form.form-horizontal(name="signupForm")
      fieldset
        legend Legend
        .form-group
        //- Email
        .form-group
          label.col-lg-2.control-label(for='email') Email
          .col-lg-10
            input.form-control(name="email", type="email", placeholder="Email", ng-model="signup.email", required)
        //- Password
        .form-group
          label.col-lg-2.control-label(for='password') Password
          .col-lg-10
            input.form-control(name="password", type="password", ng-model="signup.password", required)
        //- First Name
        .form-group
          label.col-lg-2.control-label(for='fname') First Name
          .col-lg-10
            input.form-control(name="fname", type="text", placeholder="First Name", ng-model="signup.fname", required)
        //- Last Name
        .form-group
          label.col-lg-2.control-label(for='lname') Last name
          .col-lg-10
            input.form-control(name="lname", type="text", placeholder="Last Name", ng-model="signup.lname", required)
.modal-footer
  .form-group
    .col-lg-10.col-lg-offset-2
      a.close-lightbox
        button.btn.btn-large.btn-default.close-lightbox(ng-click='cancel()') Cancel
      a.close-lightbox
        // TODO: Fix validation to previous state -- ng-disabled....
        button.btn.btn-large.btn-primary.btn-raised.close-lightbox(ng-click='signup.signup(signup)') Submit

