doctype
html
  head
    title Appraiseio
    link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
    link(rel="stylesheet", href="/css/core.css")
    link(rel="stylesheet", href="/vendor/toastr/toastr.css")
    link(rel="stylesheet", href="/css/site.css")
    link(rel='stylesheet', href='http://ui-grid.info/release/ui-grid-unstable.css', type='text/css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css')

  body(ng-app='app')
    include currentUser
    block main-content
    include scripts
