.row
    .col-md-3.col-sm-12.col-xs-12
        .panel.panel-primary.text-center.no-boder.bg-color-brown.brown
            .panel-left.pull-left.brown
                i.fa.fa-diamond.fa-5x
            .panel-right.pull-right.btn-home-04
                a(href="/marketing")
                    h4 Marketing
                    strong  Work Smarter
