.row#stopper
    .col-xs-12
        .col-xs-3
            .panel.panel-primary.text-center.no-boder.bg-color-brown.brown
                .panel-left.pull-left.brown
                    i.fa.fa-diamond.fa-5x
                .panel-right.pull-right.btn-home-04
                    a(href="/marketing")
                        h4 Marketing
                        strong  Work Smarter
        .col-xs-9
            .panel.panel-default
                //.panel-heading
                //    | Properties
                .panel-body
                    p
                        | Proin eget sem a turpis luctus gravida id efficitur tellus. Donec feugiat nibh dui, sit amet lacinia ipsum ullamcorper finibus. Nullam magna tortor, facilisis vitae leo in, placerat ullamcorper arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu justo ligula. Praesent cursus lectus a auctor feugiat. Vivamus in magna ligula. Sed feugiat urna id mollis rhoncus. Proin dolor mi, vestibulum et quam eget, rutrum posuere erat. Suspendisse blandit dignissim elit tempor porta. Fusce vitae nibh eget lectus suscipit volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                        | Sed risus ante, pretium eget lacus vel, feugiat consequat diam. Ut maximus quam ut libero scelerisque, eu malesuada erat finibus. Vestibulum at imperdiet lorem. Sed consequat justo a purus iaculis molestie. Etiam accumsan quis metus vel pulvinar. Pellentesque non consectetur odio, quis ultrices velit. Quisque tempus enim sed commodo faucibus. Curabitur accumsan magna ante.


    .col-xs-12
        .col-xs-7
            .panel.panel-default
                //.panel-heading
                //    | Properties
                .panel-body
                p
                    img(src='/app/img/img-map-ipad.jpg', width='100%')
        .col-xs-5
            br
            br
            h2
                | Add your maps to your websites and branding campaigns
            p
                | Proin eget sem a turpis luctus gravida id efficitur tellus. Donec feugiat nibh dui, sit amet lacinia ipsum ullamcorper finibus. Nullam magna tortor, facilisis vitae leo in, placerat ullamcorper arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu justo ligula. Praesent cursus lectus a auctor feugiat. Vivamus in magna ligula. Sed feugiat urna id mollis rhoncus. Proin dolor mi, vestibulum et quam eget, rutrum posuere erat. Suspendisse blandit dignissim elit tempor porta. Fusce vitae nibh eget lectus suscipit volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                | Sed risus ante, pretium eget lacus vel, feugiat consequat diam. Ut maximus quam ut libero scelerisque, eu malesuada erat finibus. Vestibulum at imperdiet lorem. Sed consequat justo a purus iaculis molestie. Etiam accumsan quis metus vel pulvinar. Pellentesque non consectetur odio, quis ultrices velit. Quisque tempus enim sed commodo faucibus. Curabitur accumsan magna ante.
                | Sed risus ante, pretium eget lacus vel, feugiat consequat diam. Ut maximus quam ut libero scelerisque, eu malesuada erat finibus. Vestibulum at imperdiet lorem. Sed consequat justo a purus iaculis molestie. Etiam accumsan quis metus vel pulvinar. Pellentesque non consectetur odio, quis ultrices velit. Quisque tempus enim sed commodo faucibus. Curabitur accumsan magna ante.

