.panel.panel-primary
   .panel-heading.text-center Propertiessssss2
   .panel-body
      .row(ng-repeat="property in properties")
         .col-md-12
            a(href="/properties/{{property._id}}") {{property.title}}