mp-co-page-screensize
.row
    .col-xs-3

        h1.text-center  APPRAISE
            span
                small io

        h5.text-center Finally, a Real Estate Appraisal Mapping Application.
        hr
        p APPRAISEio is an appraisal mapping application providing firms with private, real-time analytics of your appraisal data.
        ol
            li
                a(href="#") Create a map
            li
                a(href="#") Measure your analytics
            li
                a(href="#") Build market-campaigns
        p
        hr
        h6 Spend less time managing and more time making money.

        p
            div(ng-include="'/partials/account/navbar-login-homepage'")

    .col-xs-9.overflow-hidden
        //p
        //    ul
        //    li.button
        //        a(href='#', ng-click="changePanel('fullscreen')") Fullscreen
        //    li.button
        //        a(href='#', ng-click="changePanel('large')") Large
        p
            //img(src='http://i.istockimg.com/file_thumbview_approve/42523428/13/stock-video-42523428-metro-subway-underground-navigation-city-map-.jpg')
            video(width='80%', autoplay)
                  source(src='/app/video/vid-map.mp4', type='video/mp4')
                  //source(src='mov_bbb.ogg', type='video/ogg')
                  |   Your browser does not support HTML5 video.


