.container
  .jumbotron
    h1 Appraisio
    p Welcome to Appraisio. We make appraisal listings easy.

  .row
    .col-md-6
      div(ng-include="'/partials/main/featured-properties'")
    .col-md-6
      div(ng-include="'/partials/main/new-courses'")