mp-co-page-screensize
.row
    .col-xs-7.overflow-hidden
        p
            ul
            li.button
                a(href='#', ng-click="changePanel('fullscreen')") Fullscreen
            li.button
                a(href='#', ng-click="changePanel('large')") Large
        p
        img(src='http://i.istockimg.com/file_thumbview_approve/42523428/13/stock-video-42523428-metro-subway-underground-navigation-city-map-.jpg')

    .col-xs-5

        span
            // hide logo on homepage
            img.logo3(src="https://cdn3.iconfinder.com/data/icons/ballicons-free/128/map-.png")

        h1.text-center  APPRAISE
            span
                small io

        h5.text-center Finally, a Real Estate Appraisal Mapping Application.
        hr
        p APPRAISEio is an appraisal mapping application providing firms with private, real-time analytics of your appraisal data. Create a map, measure your analytics, and strategically build market-campaigns
        p
        hr
        h6 Spend less time managing and more time making money.

    .col-xs-12
        div(ng-include="'/partials/account/navbar-login-homepage'")
